<!DOCTYPE html>
<html>
<head>
  <title>Chart.js Example</title>
  
</head>
<body>
  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
  
  const xValues = [50,60,70,80,90,100,110,120,130,140,150];
  const yValues = [7,8,8,9,9,9,10,11,14,14,15];

  new Chart("myChart", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      scales: {
        yAxes: [{ticks: {min: 6, max:16}}],
      }
    }
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>

<p *ngFor="let a of cdata">Le {{ a.jour }}, oxygene {{ a.oxygene }} et temperature {{ a.temperature }} </p>

<form (ngSubmit)="onSubmit()">
    <label>
      oxygene :
      <input type="number" [(ngModel)]="oxygene" name="oxygene">
    </label>
    <label>
        temperature :
        <input type="number" [(ngModel)]="temperature" name="temperature">
      </label>
      <label>
        oxygene :
        <input type="date" [(ngModel)]="jour" name="jour">
      </label>
    <button type="submit">Envoyer</button>
</form>
  